.message-container.clearfix
  .avatar-container.pull-left
    .image.clearfix
      %img.pull-left{src: "https://rhsummit.files.wordpress.com/2014/03/dd_logo-icon.jpg?w=70"}
  .content-outer-container.pull-left
    .username-and-timestamp
      %strong Datadog
      %span 12:28 pm
    .content-inner-container
      .title
        %a{href: "https://datadog.com/path/to/event"} Network traffic (kb/s)
      .text
        How does this look? @slack-ops - Sent by Julie Dodd
      .image.clearfix
        %img.pull-left{src: "http://peltiertech.com/images/2012-07/antispoke-2series.png"}
